*{
	box-sizing: border-box;

}

body{
	font-family: 'Graduate', cursive;

}
header{
	background-image: url("../img/computer.jpg");
	background-repeat: no-repeat;
	overflow: auto;
	background-size: cover;
	height: 1000px
}
.nav-wrapper {
	background-color: rgba(0,0,0, 0.6);
}

.name{
	font-size: 45px;
	width: 100%;
	color: white;
}

ul.nav-main li {
	font-size: 45px;

}

ul.nav-main li a{
	color: white;
}

ul.nav-main li a:hover{
	color: green;
}

.nav-wrapper{
	border-bottom: 1px solid #000;

}


.nav-main {
	display: none;
	width: 50%;
}


.nav-main li:last-child{
	border-bottom-style: none;
}
.name,
ul.nav-main li a{
	display: inline-block;
	padding: 30px;
	border-bottom: 1px solid #000
}

.name,
.nav-main{
	background-color: rgba(0,0,0, 0.8)
}
	



.nav-main li a.is-current{
	background-color: red;
}

.hamburger {

}

/****************************************************
SECTION: CONTACT	
****************************************************/



#page-contact {
	/*background-image: url("../img/football-picture.jpg");*/
	/*background-repeat: no-repeat;*/
}

.linkedin-icon,
.facebook-icon,
.gmail-icon{
	width:100px;
	height:100px;
}

.contact-info li {
	list-style-position: none;
}




/***************************************************
SECTION:RESUME
***************************************************/

#page-resume {
	background-image: url("..img/chris-school.jpg");
}

.besco-container,
.loehmanns-container{
	font-size: 30px;
	flex-wrap: wrap;
	padding: 40px;
}

.besco-container{
	margin-top: -15px;
}

.loehmanns-container{
	margin-top: -15px;
}

ul.besco-resume li,
ul.loehmanns-resume li{
	padding-left: 35px;
	list-style-type: disc;
	list-style-position: outside;
	margin: 10px;

}


/******************************************
SECTION: PROJECTS
******************************************/

#page-projects {
	background-image: url("img/chris-texas.jpg");
}


ul.links li{
	font-size: 30px;
	padding: 20px
}

/* Desktop version of our .nav-main */

@media all and (min-width: 480px){
	header{
		/*border: 65px solid black;*/
	}

	.name {
		display:inline-block;
		width: 50%;
		float: left;

	}

	.nav-main {
		display:inline-block;
		width: 50%;
		float: right;

	}


	.nav-main li{
		display: inline-block;
		border-bottom-style: none;
	}

	.is-mobile {
		display: none;
	}
} /* ends media query */

section {
	height: 600px;
	border-bottom:1px solid;
}